@page "/encounter-creator"

<PageTitle>Encounter Creator</PageTitle>

@using OpenAiDndCampaignStarter.Data.Logic

<h1>Encounter Creator</h1>

@if (_response == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <p>Encounter Area Description:<br>
    @_response</p>
}

@code {
    private string? _response;

    protected override async Task OnInitializedAsync()
    {
        var requestor = new OpenAiRequestor();

        _response = 
            await requestor.GetTextCompletionAsync(
    "Topic: Description. Please tell me a story about a bugbear monster.");
    }
}